name: React CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    name: Test & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4   # ✅ mise à jour

      - name: Configurer Node.js
        uses: actions/setup-node@v4  # ✅ mise à jour
        with:
          node-version: 18

      - name: Installer les dépendances
        run: npm install

      - name: Construire le projet
        run: npm run build

  deploy:
    name: Deploy to Netlify/Vercel
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4   # ✅ mise à jour
      - name: Deploy to Vercel
        run: npx vercel --prod --token=${{ secrets.VERCEL_TOKEN }}
